<ion-header>
  <ion-toolbar>
    <ion-title>Ingresa tus antecedentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-form lines="full" class="ion-no-margin">
    <ion-list-header lines="full">
      <h3> Formulario de Ingreso </h3>
    </ion-list-header>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input type="text" placeholder="Ingresa tu nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input type="text" placeholder="Ingresa tu apellido"></ion-input>
    </ion-item>
    <ion-item>             
      <ion-label position="stacked">Correo</ion-label>
      <ion-input type="text" placeholder="Ingresa tu e-mail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">usuario</ion-label>
      <ion-input type="text" placeholder="Ingresa tu usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" placeholder="Ingresa tu contraseña"></ion-input>
      <ion-input type="password" placeholder="Confirma tu contraseña"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" color="primary">Enviar</ion-button>
    <br>
    <ion-button type="reset" expand="block" color="secondary" >Limpiar</ion-button>
    <br>
  </ion-form>
</ion-content>
